html {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
a {
	text-decoration: none;
	font-style: italic;
}
body{
	margin: 1%;
	padding: 1%;
}
.mySlides{
	height: 98%;
	width: 98%;
	overflow: hidden;
}
img.resize {
    float: top;
    float: right;
    width: 35%;
    height: auto;
}
.bgreen{
    background-color: #4caf50;
    color: #EFEFEF;
}
.rad{
    border-width;
    border-radius:2px;
}
