html {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
a {
    color: #4caf50;
	text-decoration: none;
	font-style: italic;
}
body{
	margin: 1%;
	padding: 1%;
}

img.resize {
    float: top;
    float: right;
    width: 35%;
    height: auto;
}
.bgreen{
    background-color: #4caf50;
    color: #EFEFEF;
}
.rad{
    border-width;
    border-radius:2px;
}
.thr{
    padding: 0% 2% 0% 2%;
    width:30%;
    margin:1% 1% 1% 1%;
}
.ri{
    float: right;
    display: inline-block;
}
.le{
    float: left;
    display: inline-block;
}
.gscale{
    color: #404559;
    transition: ease-in .5s;
}
.gscale:hover{
    color: #FFFFFF;
    background-color: #404559;
}
.tbox{
    float: top;
    /*padding: 3% 2% 3% 2%;*/
    margin-top: 0%;
    height: 20%;
}
@media only screen and (max-width: 600px){
    .thr{
        width:100%;
    }
}
